body {
  background-color: rgb(248, 248, 248);
}

header,
main {
  max-width: 1024px;
  margin: 0 auto;
}

.body-wrap {
  height: 74px;
  overflow: hidden;
}

.button-container {
  padding-top: 20px;
}
