body {
  background-color: rgb(248, 248, 248);
}

header,
main {
  max-width: 1024px;
  margin: 0 auto;
}

.body-wrap {
  height: 74px;
  overflow: hidden;
}

.button-container {
  padding-top: 20px;
}

.slide-img {
  width: 728px;
}

footer {
  text-align: center;
  padding: 10px 10px;
}

.buttons {
  display: flex;
}

.button-district {
  margin-right: 40px;
}

.first-button {
  padding-top: 20px;
}
